@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .answer-label {
        @apply peer-checked:bg-[#2984D5] hover:bg-gray-100 peer-checked:shadow-none 
        peer-checked:text-white w-full block p-2 rounded-lg border shadow-md cursor-pointer
    }
    .assessment-button {
        @apply bg-blue-601 py-2 px-6 text-white rounded-lg 
    }
}
@layer base {
    .text-outline {
        text-shadow: 0 0 0.1px black, 0 0 0.1px black, 0 0 0.1px black,
            0 0 0.1px black;
    }
    li {
        @apply font-poppins;
    }
    ::-webkit-scrollbar {
        width: 0px;
    }
    
}
